nonebot-plugin-gocqhttp>=0.5.6
nonebot_plugin_moegoe>=0.5.1
nonebot-plugin-imageutils>=0.1.8.1
nonebot_plugin_petpet>=0.3.10
PyYAML>=6.0
nonebot2>=2.0.0b5
ujson>=5.3.0
pydantic>=1.10.1
Pillow>=9.2.0
lxml>=4.9.1
aiohttp>=3.8.1
Jinja2>=3.1.2
proxy>=0.0.1
httpx>=0.23.0
tqdm>=4.64.1
psutil>=5.9.1
numpy>=1.23.2
imageio>=2.21.2
pdm-pep517>=1.0.4
fastapi>=0.79.1
requests>=2.28.0